:root {
  --background: white;
  --pre-background: #f5f5f5;
  --pre-border: lightgray;
  --post-tag-color: lightblue;
  --post-description-color: gray;
  --links-color: #b00;
}

body {
  background: var(--background);
  margin: 0 0;
  font-family: "bona nova", Palatino, serif;
  line-height: 1.6;
  font-size: 16px;
  font-size: 1.4rem;
}

.body-home {
  padding: 20px;
  font-family: inter, sans-serif;
  font-size: 1rem;
}

.home {
  font-family: inter, sans-serif;
  font-size: 1rem;
  padding: 20px;
  max-width: 100ch;
  margin: auto;
}

article {
  margin: 0 auto;
  max-width: 100ch;
  text-align: justify;
}

/* Typography */
h1,
h2,
h3,
h4,
h5,
h6,
strong {
  margin: 0 0 1.25rem;
  font-weight: 700;
  color: black;
}

img {
  max-width: 100%;
}

h1 {
  font-size: 32px;
  font-size: 2rem;
}

h2 {
  font-size: 24px;
  font-size: 1.5rem;
}

h3 {
  font-size: 20px;
  font-size: 1.25rem;
}

h4 {
  font-size: 18px;
  font-size: 1.125rem;
}

h5 {
  font-size: 16px;
  font-size: 1rem;
}

h6 {
  font-size: 16px;
  font-size: 1rem;
}

a {
  font-weight: 700;
  text-decoration: none;
  color: var(--links-color);
}

a:hover {
  text-decoration: underline;
}

hr {
  margin: 0 0 20px;
  border: 0;
  border-top: 1px solid #dadada;
}

pre {
  overflow: scroll;
  background-color: var(--pre-background);
  border: 1px solid var(--pre-border);
}

.navbar {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 1.2rem;
  padding: 15px;
}

.navbar-home {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin-right: auto;
  gap: 5px;
}

.site-logo {
  width: 60px;
}

.navbar-links {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  column-gap: 2rem;

  & [aria-current="page"] {
    font-weight: bold;
    text-decoration: underline;
  }
}

#graph-container {
  border: 1px solid black;
}

/* posts */
.post-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
}

.post-card {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 20px;
}

.post-item {
  flex: 1 50ch;
}

.post-tags {
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
}

.post-tag {
  border-radius: 5px;
  background: var(--post-tag-color);
  padding: 5px;
}

.post-description {
  color: var(--post-description-color);
  overflow-wrap: break-word;
  word-break: break-word;
}

.home-introduction {
  background-image: url("/img/garden-decoration-left.svg"), url("/img/garden-decoration-right.svg");
  background-position: 0 150px, top right;
  background-repeat: no-repeat;
  background-size: 80px;
  --border: solid black 1px;
  width: fit-content;
  padding: 20px;
  max-width: 600px;
  text-align: center;
  margin: 10px auto;
}

.social-list {
  font-size: 2rem;
  display: flex;
  gap: 10px;
  justify-content: space-evenly;
}

footer {
  font-size: 1rem;
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
  margin: 20px 0;
  padding: 20px;
  border-top: solid black 1px;
  align-items: center;
}

footer * {
  flex-basis: 30ch;
}